@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
*::selection{
    background-color: #CBB7FF;
    color: #000;
}
.main{
    background-image: url(../assets/dashboard_background.png);
    background-repeat: repeat;
    height: 100vh;
    width: 100%;
}
.mainContainer{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    height: 100%;
    width: 100%;

}
.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    height: 7vh;
    background-color: rgba(251, 251, 251, 0.413);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-items a{
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    font-family: sans-serif;
}
.logo h2{
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #000;
}
.sliderContainer{
    position: sticky;
    top: 7vh;
    left: 0;
    width: 15%;
    height: 100%;
    background-color: rgba(251, 251, 251, 0.413);
    display: flex;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-family: 'Poppins', sans-serif;
}
.sliderContainer h5{
    line-height: 0.15;
    margin-bottom: 25px;
    color: gray;
    padding-left: 20px;
}
.sliderContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
}
.sliderContent button{
    text-decoration: none;
    width: 80%;
    padding: 10px 5px;
    color: #000;
    background-color: transparent;
    margin: 0 10px;
    font-family: sans-serif;
    outline: none;
    border: none;
    text-align: left;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.sliderContent button svg{
    margin-right: 10px;
}
.sliderContent button:hover{
    background-color: #EFE9FF;
    color: #6425FE;
}
.GeneralContainer{
    width: 100%;
    height: 100%;
    display: none;
    font-family: 'Poppins', sans-serif;
}

.GeneralContainer h1, .addlistenersPageContainer h1{
    padding: 0 10px;
    margin-top: 60px;
    color: #000;
    line-height: 0.75;
}
.GeneralContainer .generalInfo, .addlistenersPageContainer .generalInfo{
    line-height: 0.15;
    padding: 0 10px;
    margin-bottom: 40px;
    color: gray;
}

.gridContainer{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 15%;
    width: 100%;
    box-sizing: border-box;
}

.gridContainer .gridItem{
    width: 30%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.01);
    transition: all 0.3s ease-in-out;
}
.gridContainer .gridItem:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}
.gridContainer .gridItem h1{
    color: #000;
    line-height: 0.15;
    font-size: 30px;
}
.gridContainer .gridItem p{
    color: gray;
    line-height: 0.15;
}

.listenerContainer{
    width: 100%;
    height: 35%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 0 30px;
    box-sizing: border-box;
}
.listenerItem{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    border-radius: 15px;
}

.listenerItem h5{
    color: #000;
    line-height: 0.05;
    font-size: 15px;
    margin-top: 20px;
}

.listenerItem #listenerName{
    width: 100%;
    border: none;
    outline: none;
    background-color: #efefef;
    padding: 10px 20px;
    /* margin: 0 25px; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    font-size: 16px;
    color: #000;
}
.listenerItem .keywordItem{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    box-sizing: border-box;
}
.keywordItem input{
    width: 85%;
    border: none;
    outline: none;
    background-color: #efefef;
    padding: 10px 20px;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000;
}
.keywordItem button{
    width: 15%;
    border: none;
    outline: none;
    background-color: #efefef;
    padding: 10px 20px;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.keywordItem button:hover{
    background-color: rgb(248, 112, 112);
    color: #fff;
}

.textContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.textContainer button{
    border: none;
    outline: none;
    background-color: #efefef;
    padding: 7px 20px;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.createListener{
    margin-top: 20px;
    width: 100%;
    outline: none;
    border: none;
    background-color: #efefef;
    padding: 10px 20px;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.createListener:hover{
    background-color: gray;
    color: #fff;
}
.listenerListContainer{
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 15px;
    padding: 0 30px;
    box-sizing: border-box;
}

.listenerlistitem{
    width: 100%;
}
.listernerlistitem h5{
    color: #000;
    line-height: 0.05;
    font-size: 15px;
    margin-top: 20px;
}
.listenerlistitem .keywordtext{
    line-height: 0.1;
}
.listenerlistitem .viewListener{
    outline: none;
    border: none;
    background-color: #efefef;
    padding: 10px 20px;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.listenerlistitem .viewListener:hover{
    background-color: gray;
    color: #fff;
}
.listenerlistitem .deleteListener{
    outline: none;
    border: none;
    background-color: #efefef;
    padding: 10px 20px;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.listenerlistitem .deleteListener:hover{
    background-color: rgb(248, 112, 112);
    color: #fff;
}
.listenerlistitem .buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.addlistenersPageContainer{
    display: none;
    width: 100%;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: 'Poppins', sans-serif;
}

.viewlistenersPageContainer{
    display: none;
    width: 100%;
    height: 95vh;
    font-family: 'Rubik', sans-serif;
    padding: 0 30px;
    /* margin-top: -50px; */
    overflow-y: auto;
    overflow-x: hidden;
}

.viewlistenersPageContainer .listeners_list{
    width: 100%;
    background: white;
    border-radius: 15px;
    padding: 10px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 15px;
    overflow-x: auto;
}

.viewlistenersPageContainer .listeners_list .listeners_list_item{
    background-color: #CBB7FF;
    color: #2C2C2C;
    width: 209px;
    height: 116px;
    border-radius: 15px;
    padding: 0 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.viewlistenersPageContainer .listeners_list .inactive:hover{
    background-color: #A785FF;
    color: #fff;
}
.viewlistenersPageContainer .listeners_list .active{
    background-color: #A785FF;
}


.webmentionsPageContainer{
    display: block;
    text-align: auto;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: 'Rubik', sans-serif;
    padding: 0 30px;
    overflow-y: auto;
}

.webmentionsPageContainer .listeners_list{
    width: 100%;
    text-align: auto;
    background: white;
    border-radius: 15px;
    padding: 10px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 15px;
    overflow-x: auto;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.webmentionsPageContainer .listeners_list .listeners_list_item{
    background-color: #CBB7FF;
    color: #2C2C2C;
    text-align: auto;
    width: 209px;
    height: 116px;
    border-radius: 15px;
    padding: 0 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.webmentionsPageContainer .listeners_list .inactive:hover{
    background-color: #A785FF;
    color: #fff;
}
.webmentionsPageContainer .listeners_list .active{
    background-color: #A785FF;
}

.listenerNameContainer{
    width: 90%;
    background: white;
    border-radius: 15px;
    padding: 12px 30px;
    margin: 0 5%;
    box-sizing: border-box;
}
.listenerNameContainer h3{
    color: #000;
    line-height: 0.25;
    font-size: 15px;
    margin-top: 20px;
}
.listenerNameContainer p{
    line-height: 0.1;
}

.listenerNameContainer input{
    width: 100%;
    border: none;
    outline: none;
    background-color: #efefef;
    padding: 10px 20px;
    /* margin: 0 25px; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    font-size: 16px;
    color: #000;
}

.listenerKeywordsContainer{
    width: 90%;
    background: white;
    border-radius: 15px;
    padding: 12px 30px;
    
    margin: 0 5%;
    margin-top: 20px;
    box-sizing: border-box;
}

.listenerKeywordsContainer h3{
    color: #000;
    line-height: 0.25;
    font-size: 15px;
    margin-top: 20px;
}

.listenerKeywordsContainer p{
    line-height: 0.1;
}

.listenerKeywordInput{
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    font-size: 16px;
    color: #000;
}
.listenerKeywordsContainer .listenerKeywordInput input{
    width: 90%;
    border: none;
    outline: none;
    background-color: #efefef;
    padding: 10px 20px;
    /* margin: 0 25px; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    font-size: 16px;
    color: #000;
}

.listenerKeywordsContainer .listenerKeywordInput button{
    /* width: 5%; */
    border: none;
    outline: none;
    background-color: #efefef;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.listenerKeywordsContainer .listenerKeywordInput button:hover{
    background-color: rgb(251, 120, 120);
    color: #fff;
}

.keywordContainerTopArea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.keywordContainerTopArea button{
    outline: none;
    border: none;
    background-color: #efefef;
    padding: 10px 20px;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.keywordContainerTopArea button:hover{
    background-color: gray;
    color: #fff;
}

.keywordContainerTopArea select{
    outline: none;
    border: none;
    background-color: #efefef;
    padding: 10px 20px;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    margin-right: 10px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.keywordContainerTopArea select:hover{
    background-color: gray;
    color: #fff;
}

.keywordContainerTopArea select option{
    outline: none;
    border: none;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}




.saveContainer{
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 25%;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 20px;
}
.saveContainer .saveHeader{
    margin: 0px;
    padding: 0px;
}
.saveContainer button{
    width: 100%;
    outline: none;
    border: none;
    background-color: rgb(33, 201, 33);
    padding: 10px 20px;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.saveContainer button:hover{
    background-color: rgb(9, 128, 9);
    color: #fff;
}

.listener-container{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.listener-container div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background: white;
    border-radius: 15px;
    padding: 12px 30px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.mentionContainer{
    width: 70%;
    background: white;
    border-radius: 15px;
    padding: 12px 30px;
    margin: 0 5%;
    margin-top: 20px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.mentionContainer p{
    width: 50%;
}
.listener-mentions-container{
    overflow-y: scroll; 
    height:400px;
}

.viewListenerData{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    overflow: hidden;
    padding-bottom: 30px;
}

/* .viewListenerData div{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
} */

.col1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.col2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.col3{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.row1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    /* margin-top: 10px; */
}

.viewListenerData .mentions{
    width: 100%;
    height: 360px;
    background: white;
    border-radius: 15px;
    padding: 12px 30px;
    margin-top: 20px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.viewListenerData .mentions h1{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    color: #2c2c2c;
    font-family: 'Rubik', sans-serif;
    text-align: left;
}

.viewListenerData .topSources{
    width: 100%;
    height: 255px;
    background: white;
    border-radius: 15px;
    padding: 12px 30px;
    margin: 0 2%;
    margin-top: 20px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.viewListenerData .summary{
    width: 100%;
    height: 250px;
    background: white;
    border-radius: 15px;
    padding: 12px 30px;
    margin-top: 20px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.viewListenerData .posMentions{
    width: 100%;
    height: 231px;
    background: white;
    border-radius: 15px;
    padding: 12px 30px;
    /* margin-top: 20px; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.viewListenerData .posMentions h1{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    color: #2c2c2c;
    font-family: 'Rubik', sans-serif;
    text-align: left;
}
.viewListenerData .topKeywords h1{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    color: #2c2c2c;
    font-family: 'Rubik', sans-serif;
    text-align: left;
}
.viewListenerData .topSources h1{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    color: #2c2c2c;
    font-family: 'Rubik', sans-serif;
    text-align: left;
}
.viewListenerData .sentimentShare h1{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    color: #2c2c2c;
    font-family: 'Rubik', sans-serif;
    text-align: left;
}
.viewListenerData .summary h1{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    color: #2c2c2c;
    font-family: 'Rubik', sans-serif;
    text-align: left;
}
.viewListenerData .sentimentSource h1{
    margin: 0;
    padding: 0;
    
    font-size: 15px;
    font-weight: 600;
    color: #2c2c2c;
    font-family: 'Rubik', sans-serif;
    text-align: left;
}



.viewListenerData .topKeywords{
    width: 100%;
    height: 231px;
    background: white;
    border-radius: 15px;
    padding: 5px 10px;
    /* margin: 0 2%; */
    /* margin-top: 20px; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.viewListenerData .sentimentShare{
    width: 100%;
    height: 331px;
    /* margin-bottom: 20%; */

    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 25px;
    /* padding: 10px 00px; */
    /* margin-top: -80px; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.viewListenerData .sentimentSource{
    width: 100%;
    height: 331px;
    background: white;
    border-radius: 15px;
    padding: 12px 30px;
    margin: 0 2%;
    margin-right: 0;
    /* margin-top: 20px; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.viewListenerData .topTopics{
    width: 100%;
    height: 200px;
    background: white;
    border-radius: 15px;
    padding: 12px 30px;
    margin-top: 20px;
    margin-left: 1%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table_container{
    background-color: #ffffff;
    text-align: center;
    width:96.5%;
    
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: 2%;
    padding: 25px;
}

.table_container table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
}

.table_container table td {
  border: 1px solid #DBDBDB;
}

.table_container table tr:first-child th {
  border-top: none;
  border-right: 1px solid #DBDBDB;
  height: 50px;
  text-align: left;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
    font-size: 16px;
}
.table_container table tr:first-child th:last-child {
  border-top: none;
  border-right: none;
}

.table_container table tr:last-child td {
  border-bottom: none;
}


.table_container table tr td:first-child {
  border-left: none;
}

.table_container table tr td:last-child {
  border-right: none;
}

.table_container table tr td:last-child div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    /* padding: 20px 5%; */
}

.table_container table tr td:last-child div button{
    width: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 2px 7.5px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #222222;
    background: #E9E9E9;
    border-radius:7px;
    outline: none;
    border: none;
}
.table_container table tr td:last-child div button i{
    font-size: 19px;
    font-weight: 600;
    color: #222222;
}

.source_item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.source_item .Spam{
    padding: 7.5px 10px;
    background: #FFD6D6;
    cursor: pointer;
    /* margin: 10px; */
    border-radius: 10px;
    border-style: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.Twitter{
    padding: 7.5px 10px;
    background: #D3F1F8;
    cursor: pointer;
    /* margin: 10px; */
    border-radius: 10px;
    border-style: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.News{
    padding: 7.5px 10px;
    background:#D6C7FF;
    border-radius: 10px;
    border-style: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.Youtube{
    padding: 7.5px 10px;
    background:#FFC2C2;
    cursor: pointer;
    /* margin: 10px; */
    border-radius: 10px;
    border-style: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.Podcasts{
    padding: 7.5px 10px;
    background:#E0FFB8;
    cursor: pointer;
    /* margin: 10px; */
    border-radius: 10px;
    border-style: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.Radio{
    padding: 7.5px 10px;
    background:#eba19f;
    cursor: pointer;
    /* margin: 10px; */
    border-radius: 10px;
    border-style: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.Positive{
    text-align: center;
    align-items: center;
    pointer-events: none;
    padding: 7.5px 10px;
    background:#D4F8D3;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    border-style: hidden;
}

.Neutral{
    text-align: center;
    align-items: center;
    pointer-events: none;
    padding: 7.5px 10px;
    background:#EDEDED;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    border-style: hidden;
}

.Negative{
    text-align: center;
    align-items: center;
    pointer-events: none;
    padding: 7.5px 10px;
    background:#FFC7CC;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    border-style: hidden;
}
.Hybrid{
    text-align: center;
    align-items: center;
    pointer-events: none;
    padding: 7.5px 10px;
    background:antiquewhite;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    border-style: hidden;
}
.icon{
    width: 18.5px;
   padding-right: 2%;
vertical-align: middle;

}
.buttons{
    text-align: center;
    align-items: center;
    pointer-events: none;
    padding: 10px 10px;
    background: lightgrey;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    border-style: hidden;
    width: 50%;
}
.icon2{
    width: 20px;
   padding-right: 4%;
vertical-align:text-bottom;
}
/* .header{
    text-align: right;
    padding-bottom: 20px;
} */

.mention_text{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: right;
}

.mention_text button{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    color: #7F7F7F;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.mention_text button:hover{
    color: #212121
}

.mention_popup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.mention_popup .popup_container{
    width: 50%;
    height: 50%;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.mention_popup .popup_container .popup_text{
    width: 100%;
    text-align: right;
    gap: 10px;
}

.popup_header_row{
    width: 100%;
}

.popup_header_row button{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 25px;
    border-radius: 10px;
    margin: 0;
    margin-left: 10px;
    color: white;
    background-color: #A785FF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.popup_keyword_header{
    line-height: 0.5;
    font-size: 35px;
    font-weight: 600;
    color: #222222;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    padding: 0;
}

.popup_header_row button:hover{
    background-color:rgb(248, 112, 112)
}

.mention_text p{
    width: 75%;
    word-break: break-all;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #222222;

}