@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
*::selection{
    background-color: #CBB7FF;
    color: #000;
}
.main{
    background-image: url(../assets/dashboard_background.png);
    background-repeat: repeat;
    height: 100vh;
    width: 100%;
}
.mainContainer{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    height: 100%;
    width: 100%;

}
.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    height: 7vh;
    background-color: rgba(251, 251, 251, 0.413);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-items a{
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    font-family: sans-serif;
}
.logo h2{
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #000;
}
.sliderContainer{
    position: sticky;
    top: 7vh;
    left: 0;
    width: 15%;
    height: 100%;
    background-color: rgba(251, 251, 251, 0.413);
    display: flex;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.sliderContainer h5{
    line-height: 0.15;
    margin-bottom: 25px;
    color: gray;
    padding-left: 20px;
}
.sliderContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.sliderContainer h5{
    text-align: left;
}
.sliderContent button{
    text-decoration: none;
    width: 100%;
    padding: 10px 20px;
    margin: 6px 0;
    color: #6A686F;
    background-color: transparent;
    outline: none;
    border: none;
    text-align: center;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.sliderContent .active{
    background-color: #EFE9FF;
    color: #6425FE;
}
.home-icon path, .account-icon path, .keywords-icon path{
    fill: #6A686F;
    stroke: transparent;
}
.sliderContent .active svg path{
    stroke: #6425FE;
}
.sliderContent .active .home-icon, .sliderContent .active .account-icon path, .sliderContent .active .keywords-icon path{
    fill: #6425FE;
}

.sliderContent button svg{
    margin-right: 10px;
}
.sliderContent button svg path{
    stroke: #6A686F;
}
.sliderContent button:hover{
    background-color: #EFE9FF;
    color: #6425FE;
}

.listenerContainer{
    width: 100%;
    height: 35%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 0 30px;
    box-sizing: border-box;
}
.listenerItem{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    border-radius: 15px;
}

.listenerItem h5{
    color: #000;
    line-height: 0.05;
    font-size: 15px;
    margin-top: 20px;
}

.listenerItem #listenerName{
    width: 100%;
    border: none;
    outline: none;
    background-color: #efefef;
    padding: 10px 20px;
    /* margin: 0 25px; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    font-size: 16px;
    color: #000;
}
.listenerItem .keywordItem{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    box-sizing: border-box;
}
.keywordItem input{
    width: 85%;
    border: none;
    outline: none;
    background-color: #efefef;
    padding: 10px 20px;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000;
}
.keywordItem button{
    width: 15%;
    border: none;
    outline: none;
    background-color: #efefef;
    padding: 10px 20px;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.keywordItem button:hover{
    background-color: rgb(248, 112, 112);
    color: #fff;
}

.textContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.textContainer button{
    border: none;
    outline: none;
    background-color: #efefef;
    padding: 7px 20px;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.createListener{
    margin-top: 20px;
    width: 100%;
    outline: none;
    border: none;
    background-color: #efefef;
    padding: 10px 20px;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.createListener:hover{
    background-color: gray;
    color: #fff;
}
.listenerListContainer{
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 15px;
    padding: 0 30px;
    box-sizing: border-box;
}

.listenerlistitem{
    width: 100%;
}
.listernerlistitem h5{
    color: #000;
    line-height: 0.05;
    font-size: 15px;
    margin-top: 20px;
}
.listenerlistitem .keywordtext{
    line-height: 0.1;
}
.listenerlistitem .viewListener{
    outline: none;
    border: none;
    background-color: #efefef;
    padding: 10px 20px;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.listenerlistitem .viewListener:hover{
    background-color: gray;
    color: #fff;
}
.listenerlistitem .deleteListener{
    outline: none;
    border: none;
    background-color: #efefef;
    padding: 10px 20px;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.listenerlistitem .deleteListener:hover{
    background-color: rgb(248, 112, 112);
    color: #fff;
}
.listenerlistitem .buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.addlistenersPageContainer{
    display: none;
    width: 100%;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: 'Poppins', sans-serif;
}
.accsetPageContainer{
    overflow:auto;
    display: none;
    width: 100%;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: 'Poppins', sans-serif;
}

.accsetPageContainer h1{
    padding-left:5%;
}
.accountsettingsPageContainer{
    display: none;
    width: 100%;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: 'Poppins', sans-serif;
}

.viewlistenersPageContainer{
    display: none;
    width: 100%;
    height: 95vh;
    font-family: 'Rubik', sans-serif;
    padding: 0 30px;
    /* margin-top: -50px; */
    overflow-y: auto;
    overflow-x: hidden;
}

.viewlistenersPageContainer .listeners_list{
    width: 100%;
    background: white;
    border-radius: 15px;
    padding: 10px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 15px;
    overflow-x: auto;
}

.viewlistenersPageContainer .listeners_list .listeners_list_item{
    background-color: #CBB7FF;
    color: #2C2C2C;
    width: 209px;
    height: 116px;
    border-radius: 15px;
    padding: 0 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.viewlistenersPageContainer .listeners_list .inactive:hover{
    background-color: #A785FF;
    color: #fff;
}
.viewlistenersPageContainer .listeners_list .active{
    background-color: #A785FF;
}


.webmentionsPageContainer{
    display: block;
    text-align: auto;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: 'Rubik', sans-serif;
    padding: 0 30px;
    overflow-y: auto;
}

/* width */
.webmentionsPageContainer::-webkit-scrollbar {
    width: 12px;
}

/* Track */
.webmentionsPageContainer::-webkit-scrollbar-track {
    border-radius: 10px;
}
/* Handle */
.webmentionsPageContainer::-webkit-scrollbar-thumb {
    background: #5b5b5b70; 
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

/* Handle on hover */
.webmentionsPageContainer::-webkit-scrollbar-thumb:hover {
    background: #5b5b5b;
}

.listeners_list{
    width: 100%;
    text-align: auto;
    background: white;
    border-radius: 15px;
    padding: 10px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 15px;
    overflow-x: auto;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.listeners_list .listeners_list_item{
    background-color: #CBB7FF;
    color: #2C2C2C;
    text-align: auto;
    width: 209px;
    height: 116px;
    border-radius: 15px;
    padding: 0 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.listeners_list .inactive:hover{
    background-color: #A785FF;
    color: #fff;
}
.listeners_list .active{
    background-color: #A785FF;
}

.listenerNameContainer{
    width: 90%;
    background: white;
    border-radius: 15px;
    padding: 12px 30px;
    margin: 0 5%;
    box-sizing: border-box;
}
.listenerNameContainer h3{
    color: #000;
    line-height: 0.25;
    font-size: 15px;
    margin-top: 20px;
}
.listenerNameContainer p{
    line-height: 0.1;
}

.listenerNameContainer input{
    width: 100%;
    border: none;
    outline: none;
    background-color: #efefef;
    padding: 10px 20px;
    /* margin: 0 25px; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    font-size: 16px;
    color: #000;
}
.accsetContainer{
    width: 90%;
    background-color: rgba(255, 255, 255, 0.3);
    /*opacity: 0.3;*/
    border-radius: 15px;
    padding: 12px 30px;
    margin: 0 5%;
    margin-bottom: 3%;
    box-sizing: border-box;
}
.accsetContainer h3{
    color: #000;
   
    font-size: 15px;
    margin-top: 20px;
}
.accsetContainer h2{
   display: inline-block;
    color: #000;
   padding-left: 20px;
   padding-top: 0px;
    font-size: 15px;
    margin-left: 500px;
    margin-top: 20px;
}
.accsetContainer p{
    line-height: 0.1;
}

.accsetContainer input[type="text"]{
    width: 45%;
    border-color: transparent;
    border-radius: 1px;
    margin-left: 500px;
    margin-top:20;
    background-color:white;
    padding: 12px 20px;
    padding-left: 100px;
    /* margin: 0 25px; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    font-size: 16px;
    color: #000;
}
.ay input[type="image"]{
    width: 100px;
    height: 100px;
    border-radius: 1px;
    border-style: dashed;

    background-color:white;
    padding: 22px 40px;
display: inline-block;
    /* margin: 0 25px; */
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    font-size: 16px;
    color: #000;
}
.accsetContainer img{
    width: 50px;
    height: 50px;
    
    margin-right: 650px;
    margin-top: 100px;
}

.listenerKeywordsContainer{
    width: 90%;
    background: white;
    border-radius: 15px;
    padding: 12px 30px;
    
    margin: 0 5%;
    margin-top: 20px;
    box-sizing: border-box;
}

.listenerKeywordsContainer h3{
    color: #000;
    line-height: 0.25;
    font-size: 15px;
    margin-top: 20px;
}

.listenerKeywordsContainer p{
    line-height: 0.1;
}

.listenerKeywordInput{
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    font-size: 16px;
    color: #000;
}
.listenerKeywordsContainer .listenerKeywordInput input{
    width: 90%;
    border: none;
    outline: none;
    background-color: #efefef;
    padding: 10px 20px;
    /* margin: 0 25px; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    font-size: 16px;
    color: #000;
}

.listenerKeywordsContainer .listenerKeywordInput button{
    /* width: 5%; */
    border: none;
    outline: none;
    background-color: #efefef;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.listenerKeywordsContainer .listenerKeywordInput button:hover{
    background-color: rgb(251, 120, 120);
    color: #fff;
}

.keywordContainerTopArea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.keywordContainerTopArea button{
    outline: none;
    border: none;
    background-color: #efefef;
    padding: 10px 20px;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.keywordContainerTopArea button:hover{
    background-color: gray;
    color: #fff;
}

.keywordContainerTopArea select{
    outline: none;
    border: none;
    background-color: #efefef;
    padding: 10px 20px;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    margin-right: 10px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.keywordContainerTopArea select:hover{
    background-color: gray;
    color: #fff;
}

.keywordContainerTopArea select option{
    outline: none;
    border: none;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}




.saveContainer{
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 25%;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 20px;
}
.saveContainer .saveHeader{
    margin: 0px;
    padding: 0px;
}
.saveContainer button{
    width: 100%;
    outline: none;
    border: none;
    background-color: rgb(33, 201, 33);
    padding: 10px 20px;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.saveContainer button:hover{
    background-color: rgb(9, 128, 9);
    color: #fff;
}

.listener-container{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.listener-container div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background: white;
    border-radius: 15px;
    padding: 12px 30px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.mentionContainer{
    width: 70%;
    background: white;
    border-radius: 15px;
    padding: 12px 30px;
    margin: 0 5%;
    margin-top: 20px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.mentionContainer p{
    width: 50%;
}
.listener-mentions-container{
    overflow-y: scroll; 
    height:400px;
}

.viewListenerData{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    overflow: hidden;
    padding-bottom: 30px;
}

/* .viewListenerData div{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
} */

.col1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.col2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.col3{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.row1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    /* margin-top: 10px; */
}

.viewListenerData .mentions{
    width: 100%;
    height: 360px;
    background: white;
    border-radius: 15px;
    padding: 12px 30px;
    margin-top: 20px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.viewListenerData .mentions h1{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    color: #2c2c2c;
    font-family: 'Rubik', sans-serif;
    text-align: left;
}

.viewListenerData .topSources{
    width: 100%;
    height: 255px;
    background: white;
    border-radius: 15px;
    padding: 12px 30px;
    margin: 0 2%;
    margin-top: 20px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.viewListenerData .summary{
    width: 100%;
    height: 250px;
    background: white;
    border-radius: 15px;
    padding: 12px 30px;
    margin-top: 20px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.viewListenerData .posMentions{
    width: 100%;
    height: 231px;
    background: white;
    border-radius: 15px;
    padding: 12px 30px;
    /* margin-top: 20px; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.viewListenerData .posMentions h1{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    color: #2c2c2c;
    font-family: 'Rubik', sans-serif;
    text-align: left;
}
.viewListenerData .topKeywords h1{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    color: #2c2c2c;
    font-family: 'Rubik', sans-serif;
    text-align: left;
}
.viewListenerData .topSources h1{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    color: #2c2c2c;
    font-family: 'Rubik', sans-serif;
    text-align: left;
}
.viewListenerData .sentimentShare h1{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    color: #2c2c2c;
    font-family: 'Rubik', sans-serif;
    text-align: left;
}
.viewListenerData .summary h1{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    color: #2c2c2c;
    font-family: 'Rubik', sans-serif;
    text-align: left;
}
.viewListenerData .sentimentSource h1{
    margin: 0;
    padding: 0;
    
    font-size: 15px;
    font-weight: 600;
    color: #2c2c2c;
    font-family: 'Rubik', sans-serif;
    text-align: left;
}

.sentimentSource canvas{
    width: 100%;
    height: 100%;

}

.viewListenerData .topKeywords{
    width: 100%;
    height: 231px;
    background: white;
    border-radius: 15px;
    padding: 5px 10px;
    /* margin: 0 2%; */
    /* margin-top: 20px; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.viewListenerData .sentimentShare{
    width: 100%;
    height: 331px;
    /* margin-bottom: 20%; */

    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 25px;
    /* padding: 10px 00px; */
    /* margin-top: -80px; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.viewListenerData .sentimentSource{
    width: 100%;
    height: 331px;
    background: white;
    border-radius: 15px;
    padding: 12px 30px;
    margin: 0 2%;
    margin-right: 0;
    /* margin-top: 20px; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.viewListenerData .topTopics{
    width: 100%;
    height: 200px;
    background: white;
    border-radius: 15px;
    padding: 12px 30px;
    margin-top: 20px;
    margin-left: 1%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table_container{
    background-color: #ffffff;
    text-align: center;
    width:100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: 2%;
    padding: 25px;
    box-sizing: border-box;
    margin-bottom: 175px;
}

.table_container table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
}

.table_container table td {
  border: 1px solid #DBDBDB;
}

.table_container table tr:first-child th {
  border-top: none;
  border-right: 1px solid #DBDBDB;
  height: 50px;
  text-align: left;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
    font-size: 16px;
}
.table_container table tr:first-child th:last-child {
  border-top: none;
  border-right: none;
}

.table_container table tr:last-child td {
  border-bottom: none;
}


.table_container table tr td:first-child {
  border-left: none;
}

.table_container table tr td:last-child {
  border-right: none;
}

.table_container table tr td:last-child div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    /* padding: 20px 5%; */
}

.table_container table tr td:last-child div button{
    width: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointerC;
    gap: 4px;
    padding: 2px 7.5px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #222222;
    background: #E9E9E9;
    border-radius:7px;
    outline: none;
    border: none;
}
.table_container table tr td:last-child div button i{
    font-size: 19px;
    font-weight: 600;
    color: #222222;
}

.source_item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.source_item .Spam{
    padding: 7.5px 10px;
    background: #FFD6D6;
    cursor: pointer;
    /* margin: 10px; */
    pointer-events: none;
    border-radius: 10px;
    border-style: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.Twitter{
    padding: 7.5px 10px;
    background: #D3F1F8;
    cursor: pointer;
    pointer-events: none;
    /* margin: 10px; */
    border-radius: 10px;
    border-style: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.News{
    padding: 7.5px 10px;
    background:#D6C7FF;
    border-radius: 10px;
    border-style: hidden;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.Youtube{
    padding: 7.5px 10px;
    background:#FFC2C2;
    /* margin: 10px; */
    border-radius: 10px;
    border-style: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    gap: 4px;
}

.Podcasts{
    padding: 7.5px 10px;
    background:#E0FFB8;
    /* margin: 10px; */
    border-radius: 10px;
    border-style: hidden;
    display: flex;
    justify-content: center;
    pointer-events: none;
    align-items: center;
    gap: 4px;
}

.Radio{
    padding: 7.5px 10px;
    background:#eba19f;
    pointer-events: none;
    /* margin: 10px; */
    border-radius: 10px;
    border-style: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.Positive{
    text-align: center;
    align-items: center;
    pointer-events: none;
    padding: 7.5px 10px;
    background:#D4F8D3;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    border-style: hidden;
}

.Neutral{
    text-align: center;
    align-items: center;
    pointer-events: none;
    padding: 7.5px 10px;
    background:#EDEDED;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    border-style: hidden;
}

.Negative{
    text-align: center;
    align-items: center;
    pointer-events: none;
    padding: 7.5px 10px;
    background:#FFC7CC;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    border-style: hidden;
}
.Hybrid{
    text-align: center;
    align-items: center;
    pointer-events: none;
    padding: 7.5px 10px;
    background:antiquewhite;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    border-style: hidden;
}
.icon{
    width: 18.5px;
   padding-right: 2%;
vertical-align: middle;

}
.buttons{
    text-align: center;
    align-items: center;
    pointer-events: none;
    padding: 10px 10px;
    background: lightgrey;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    border-style: hidden;
    width: 50%;
}
.icon2{
    width: 20px;
   padding-right: 4%;
vertical-align:text-bottom;
}
/* .header{
    text-align: right;
    padding-bottom: 20px;
} */

.mention_text{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: right;
}

.mention_text button{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    color: #7F7F7F;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.mention_text button:hover{
    color: #212121
}

.mention_popup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.mention_popup .popup_container{
    height: 60%;
    width: 60%;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

/* width */
.mention_popup .popup_container::-webkit-scrollbar {
    width: 15px;
    margin: 20px 0;
}

/* Track */
.mention_popup .popup_container::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
.mention_popup .popup_container::-webkit-scrollbar-thumb {
    background: #A785FF;
    border-radius: 10px;
}

/* Handle on hover */
.mention_popup .popup_container::-webkit-scrollbar-thumb:hover {
    background: #CBB7FF;
}

.mention_popup .popup_container .popup_text{
    width: 90%;
    padding: 0 5%;
    text-align: right;
    gap: 10px;
}

.popup_header_row{
    width: 100%;
}

.popup_header_row button{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 25px;
    border-radius: 10px;
    margin: 0;
    margin-left: 10px;
    color: white;
    background-color: #A785FF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.popup_keyword_header{
    line-height: 0.5;
    font-size: 35px;
    width: 90%;
    font-weight: 600;
    color: #222222;
    font-family: 'Poppins', sans-serif;
    padding: 0 5%;
}

.popup_header_row button:hover{
    background-color:rgb(248, 112, 112)
}

.popup_info_row{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    gap: 10px;
}

.popup_info_row div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.popup_info_row div .twitter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    background-color: #D3F1F8;
}

.popup_info_row div .news{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    background-color: #D6C7FF;
}

.popup_info_row div .neutral{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    background-color: #EDEDED;
}

.popup_info_row div .positive{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    background-color: #C7FFD6;
}

.popup_info_row div .negative{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    background-color: #FFC7CC;
}

.popup_info_row div .spam{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    background-color: #FFC7CC;
}


.popup_info_date{
    font-size: 15px;
    font-weight: 300;
    color: #222222;
    font-family: 'Poppins', sans-serif;
}

.popup_info_source{
    font-size: 15px;
    font-weight: 300;
    color: #222222;
    font-family: 'Poppins', sans-serif;
}

.mention_text p{
    width: 75%;
    word-break: break-all;
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #222222;

}

.pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 35px;
}

.pagination_fixed_position{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 2%;
    left: 40%;
    right: 25%;
    width: 35%;
    height: 5%;
    background-color: #966efb;
    border-radius: 15px;
    z-index: 100;
    padding: 10px 0;
    box-shadow: 0px 0px 30px 0px #3333334b;
}

.page_number_container{
    color: white
}

.pagination-container .page{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px;
    margin: 0;
    margin-left: 10px;
    color: black;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.pagination-container .page:hover{
    background-color: #a885ff96;
}

.pagination-container .page.active{
    background-color: #A785FF;
    color: white;
}
#next_page, #previous_page{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px;
    width: 30%;
    margin: 0;
    color: white;
    background-color: #A785FF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

#next_page:hover, #previous_page:hover{
    background-color: #a885ff96;
}

.pagination-container .pagination-numbers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
}

.listener-header-row{
    display: flex;
    justify-content: space-between;
    /* margin: 0 50px; */
    align-items: center;
    width: 100%;
}

.listener-header-row button{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 10px;
    margin: 0;
    margin-left: 10px;
    color: white;
    background-color: #A785FF;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.listener-header-row button:hover{
    background-color: #a885ff96;
}

.add-listener-popup{
    position: absolute;
    top: 7vh;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../assets/add_listener_background.png);
    padding: 20px;
    height: 93vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.listener-header-row button:hover + .add-listener-popup{
    opacity: 1;
}

.pop-up-content, .pop-up-content-categories{
    width: 50%;
    padding: 25px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 50px;
    box-sizing: border-box;
}

.pop-up-content-categories{
    display: none;
}

.continue-button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up-content #continue-add-listener{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 20px 5px;
    font-size: 15px;
    border-radius: 10px;
    width: 15%;
    margin: 0;
    margin-top: 20px;
    margin-left: 10px;
    color: white;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.pop-up-content #continue-add-listener:hover{
    background-color: #000000aa;
}

.pop-up-content h1, .pop-up-content-categories h1{
    line-height: 0.55;
    color: #282828;
    font-family: 'Rubik', sans-serif;
}

.pop-up-content h3, .pop-up-content-categories h3{
    line-height: 0.75;
    font-weight: 300;
    color: #282828;
    font-family: 'Rubik', sans-serif;
}

.listener-input{
    position: relative;
    /* margin: 20px 0; */
    width: 100%;
    box-sizing: border-box;
}

.listener-input input{
    width: 70%;
    
    height: 50px;
    /* background: transparent; */
    border: 2px solid #5B5B5B;
    background-color: transparent;
    border-radius: 15px;
    outline: none;
    margin: 0 15%;
    padding: 0 10px;
    font-size: 20px;
}

.listener-input label{
    position: absolute;
    top: 15.5px;
    left: 17%;
    font-size: 18px;
    color: #5B5B5B;
    font-family: 'Rubik', sans-serif;
    transition: all 0.5s;
    pointer-events: none;
}

.listener-input input:focus ~ label{
    top: -13px;
    padding: 0 5px;
    background-color: #FFFBFC;
    /* font-size: 14px; */
}
.listener-input input:not(:placeholder-shown) ~ label{
    top: -13px;
    padding: 0 5px;
    background-color: #FFFBFC;
    /* font-size: 14px; */
}

.add-keywords-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.add-keywords-container h2{
    color: #282828;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

.add-keywords-container button{
    background-color: rgb(255, 255, 255,0.5);
    border: none;
    outline: none;
    color: #282828;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.add-keywords-container button:hover{
    background-color: rgb(255, 255, 255,1);
}

.keyword-input-container{
    background-color: rgb(255, 255, 255,0.5);
    width: 100%;
    height: 100px;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.keyword-input-container::-webkit-scrollbar {
    height: 10px;
}

.keyword-input-container::-webkit-scrollbar-track {
    background: transparent;
    margin: 0px 20px;
}

.keyword-input-container::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 20px;
    border: 3px solid transparent;
}


.keyword-input-container .keyword-input input{
    height: 50px;
    /* background: transparent; */
    border: 2px solid #5B5B5B;
    background-color: transparent;
    border-radius: 15px;
    outline: none;
    padding: 0 10px;
    font-size: 20px;
    transition: all 0.5s;
}

.keyword-input-container .keyword-input button{
    background-color: #FDF6FA;
    border: 2px solid #5B5B5B;
    outline: none;
    border-radius: 10px;
    height: 33px;
    width: 33px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    cursor: pointer;
    top: -70px;
    left: 93%;
}

.category-container {
    display: flex;
    gap: 10px;
    
}

.scroll-container{
    overflow: auto;
    padding-bottom: 5px;
}

.category-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 25%;
}
.category-item {
    width: 90%;
    height: 70px;
    background: #c4d0f06f;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
}

.category-item:hover{
    background-color: #c7beffc5;
}

.check-icon {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 24px;
    display: none;
  }

.scroll-container::-webkit-scrollbar {
    height: 7px;
}
.scroll-container::-webkit-scrollbar-track {
    background: transparent;
}
.scroll-container::-webkit-scrollbar-thumb {
    background-color: rgba(184, 184, 184, 0.605);
    border-radius: 20px;
}

.category-button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.category-button-container button{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 20px 0px;
    font-size: 15px;
    border-radius: 10px;
    width: 25%;
    margin: 0;
    margin-left: 10px;
    color: white;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.category-button-container button:hover{
    background-color: #282828;
}

.operations-container{
    position: fixed;
    top: 9vh;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.back-button-container button{
    background-color: #6425FE;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    cursor: pointer;
}

.cancel-button-container button{
    background-color: #6425FE;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    cursor: pointer;
    transition: all 0.5s;
}

.cancel-button-container button:hover{
    background-color: red;
    color: white
}

/* .Wrapping-box{
    width: 90%;
    background:  #efefef;
    border-radius: 30px;
    padding: 12px 30px;
    margin: 0 5%;
    box-sizing: border-box;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.Wrapping-box h3{
    color: #000;
   
    font-size: 15px;
    margin-top: 20px;
}
.Wrapping-box h2{
   display: inline-block;
    color: #000;
   padding-left: 20px;
   padding-top: 0px;
    font-size: 15px;
    margin-left: 500px;
    margin-top: 20px;
}
.Wrapping-box p{
    line-height: 0.1;
} 

.Wrapping-box input[type="text"]{
    width: 45%;
    background-color:white;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 16px;
}

.row-two{
    margin: auto;
}
*/

.Wrapping-box{
    width: 90%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    margin-left: 5%;
    backdrop-filter: blur(10px);
    margin-bottom: 10%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.middle-box{
    padding-top: 0.5%;
    padding-bottom: 2%;
    padding-left: 33%;
}

.row-two {
    align-items: center;
}

.text-input{
    border-radius: 15px;
    padding: 1.5%;
    width:60%;
    font-size: 16px;
    background-color:white;
    border-color: transparent;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}



.password-text-input{
    flex:1;
    background-color:white;
    border-radius: 15px;
    padding: 7%;
    width:130%;
    font-size: 16px;
    border-color: transparent;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.Wrapping-box h2{
    padding-left: 3%;
}


.texting-line{
    display:flex;
    justify-content:space-between;
    padding-right:5%;
    padding-bottom: 5%;
    margin-left: 50px;
    margin-right: 50px;
}

.flex{
    display:flex;
    justify-content: end;

}

.button-styling-one{
    width: 100%;
    margin-bottom: 20px;
    margin-left:39%;
}

.button-styling-one Button{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 10px;
    margin: 0;
    margin-left: 10px;
    color: white;
    background-color: #A785FF;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: end;
    align-items: end;
    transition: all 0.3s ease-in-out;
}

.button-styling-one Button:hover{
    background-color: #a885ff96;
}

.button-styling-two{
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    margin-left:-38%;
}

.button-styling-two Button{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 10px;
    margin: 0;
    margin-left: 10px;
    color: black;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.button-styling-two Button:hover{
    background-color: white;
}

/* .Button-one{
    outline: none;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 10px;
    color: white;
    background-color: #A785FF;
    font-weight: 300;
}

.Button-one:hover{
    background-color: #a885ff96;
}

.Button-two{
    outline: none;
    border: none;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 10px;
    color: black;
    background-color: transparent;
    font-weight: 300;
    
}

.Button-two:hover{
    background-color: white;
} */
.edit-listener-container{
    display: none;
    width: 100%;
    padding: 0 30px;
}


.rounded-btn {
    background-color:#A785FF;
    color: white;
    border-radius: 10px;
    padding: 12px 24px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.rounded-btn:hover{
    background-color:#CBB7FF;
    color: white;
}
.delete-btn {
    background-color:rgb(248, 112, 112);
    color: white;
    border-radius: 10px;
    padding: 12px 24px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.delete-btn:hover{
    background-color:rgb(247, 145, 145);
    color: white;
}


.edit_keywords_table_container {
    border-collapse: collapse;
    border: 2px none #ccc;
    border-radius: 10px;
    background-color: #fff;
}

.edit_keywords_table_container th,.edit_keywords_table_container td {
    border: 1px thin #ccc;
    padding: 8px;
    text-align: left;
}

.edit_keywords_table_container th {
    background-color: #f2f2f2;
}