<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="css/landing_page_styles.css">
    <script src="scripts/landing_page_scripts.js"></script>
</head>
<body>
    <div class="mainContainer">
        <div class="navbar">
            <div class="nav-items">
                <a href="/">Home</a>
                <a href="/view/register">Sign Up</a>
            </div>
            <div class="logo">
                <h2>Brand Listening Tool</h2>
            </div>
            <div class="buttons">
                <a href="/view/login">Sign in</a>
            </div>
        </div>
        <div class="bodyContainer">
            <div class="rightContainer">
                <h1>Be informed, stay competitive.</h1>
                <p>Our all-in-one brand monitoring tool will help you stay alert by tracking mentions about any brand through news, blogs, social media, podcasts and videos.</p>
                <button class="btn">Sign up for free</button>
            </div>
            <div class="leftContainer">
                <img src="../assets/landing_page_image.png" alt="landing page image">
        </div>
    </div>
</body>
</html>